.post{
    display: block;
    padding: 5vh 10vw;
    position: relative;
}

.container-profil{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "profil detail transaksi"; 
  }
  .transaksi { grid-area: transaksi; background-color: red;}
  .profil { grid-area: profil;  background-color: aqua;}
  .detail { grid-area: detail; background-color: blueviolet;}